:root {
  --background-color: hsl(50, 69%, 91%);
  --secondary-color: hsl(51, 51%, 84%);
  --third-color: hsl(51, 25%, 63%);
  --fourth-color: hsl(48, 18%, 27%);
  --textual-color: hsl(0, 0%, 0%);
}

html {
  background-color: var(--background-color);
}
body {
  margin: 0;
}

a a:visited {
  color: blue;
  text-decoration: none;
}
/* The above code consists of contants and global variables */
.navbar {
  display: flex;
  gap: 2rem;
}
.navbar .navilogo {
  padding-left: 1rem;
}
.navbar .naviplane {
  display: flex;
  margin-left: auto;
  padding: 1rem;
  gap: 1rem;
}
h1 {
  margin: 1rem;
}

