@layer font {
  /* league-spartan-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/league-spartan-v11-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/league-spartan-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/league-spartan-v11-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/league-spartan-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
}


:root {
  --background-color: hsl(50, 69%, 91%);
  --secondary-color: hsl(51, 51%, 84%);
  --third-color: hsl(51, 25%, 63%);
  --fourth-color: hsl(48, 18%, 27%);
  --textual-color: hsl(0, 0%, 0%);
  --ff-external: 'League Spartan';
}

html {
  background-color: var(--background-color);
}
body {
  margin: 0;
}

a, a:visited {
  text-decoration: none;
}
h1,h2,h3 {
  font-family: var(--ff-external),Arial, Helvetica, sans-serif;
}
/* The above code consists of contants and global variables */
.navbar {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.left {
  padding: 0 1.25rem;

}
.right{
  display: flex;
  margin-left: auto;
  padding: 1rem 1.25rem;
  width: 16.25rem;
  gap: 1rem;
}

.line {
  height: 1px;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.00) 0%, #000000 50%, rgba(0,0,0,0.00) 100%);
  opacity: 0.1;
}

.intro_section {
  display:flex;
  justify-content: center;
  gap: 10px;
  padding: 3rem 0 4rem;
  color: whitesmoke;
  background-color: var(--textual-color);
}
.intro_section .left {
  text-align: center;
  align-self: center;
  font-size: calc(25/16*1rem);
  flex: 1;
}
.intro_section img {
  border-radius: 50%;
  padding: 0 calc(70 / 16 * 1rem);
}